<phpunit colors="true">
  <testsuites>
    <testsuite name="Xs and Os tests suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src</directory>
    </whitelist>
  </filter>
</phpunit>